.container {
  margin: 20px 20px 0px 20px;
}

.movieTitle {
  font-size: 30px;
}

.movieDetails {
  display: flex;
  gap: 30px;
}

.textDetails ul {
  list-style: circle;
}

.textDetails li strong {
  font-size: 20px;
}

.textDetails li p {
  margin-left: 20px;
}

.cr {
  display: flex;
  gap: 20px;
}

.cr a {
  font-weight: 900;
  text-transform: uppercase;
}

.cr a:hover {
  color: red;
}

.reviews {
  overflow-y: auto;
}
